.App {
  text-align: center;
}

.App-header {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(20px);
  color: rgb(247, 81, 81);
}


.App-body {
  background-color: #3d6ed1;
  display: inline-flex;
  align-items: center;
  color: rgb(247, 81, 81);
}