.MyComponent {
    display: inline-flex;
    margin: 5px;
    background-color: rgb(49, 128, 95);
    color: orange;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 2px 2px #ff0000;
}

.MyComponent img {
    border-radius: 100%;
}